<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>MapList</title>
  <meta name='apple-mobile-web-app-status-bar-style' content='white' />
  <link rel='shortcut icon' href='./img/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='./app.css'>
</head>
<body>

  <div id='maplist' class='map'>
    <div id='controls' class='controls'>
      <ul id='state' class='group round state clearfix'>
        <li><a id='save' class='save' href='#'>Save</a></li>
      </ul>
      <ul class='group layers round clearfix'>
        <li><a href='#' data-layer='tristen.map-4s93c8qx'><span class='small icon icon-streets'></span></a></li>
        <li><a href='#' data-layer='tristen.map-ixqro653'><span class='small icon icon-terrain'></span></a></li>
        <li><a href='#' data-layer='tristen.map-sx6sssbx'><span class='small icon icon-satellite'></span></a></li>
      </ul>
      <a id='findme' class='findme round' href='#'><span class='small icon icon-findme'></span></a>
    </div>
  </div>
  <div id='application' class='application pad2'></div>

  <script data-template='list' type='text/html'>
    <a href='#<%= url %>' rel='<%= url %>' class='item pad2'>
      <strong><%= date %></strong>
      <h3><%= title %></h3>
      <% if (writeable) { %>
        <span id='gist-<%= gist %>' class='small icon icon-rubbish'></span>
      <% } %>
    </a>
  </script>

  <script data-template='maker' type='text/html'>
    <a href='#' class='add clearfix pad2'>
      <span class='icon icon-add inline'></span>Add a marker
      <div class='overlay'>
        <span class='icon icon-cursor inline'></span>
        Click on the map to select a point.
      </div>
    </a>
    <ul class='markers' id='markers'></ul>
  </script>

  <script data-template='introduction' type='text/html'>
  <textarea id='title' class='title' type='text' name='title' placeholder='List Name' value='<%= title %>'><%= title %></textarea>
    <textarea id='description' name='description' placeholder='Description'><% if (description !== 'Description') { %><%= description %><% } %></textarea>
  </script>

  <script data-template='marker' type='text/html'>
    <a href='#' class='fl inline marker hover'>
      <span class='icon icon-marker' style='color:<%= hex %>'></span>
      <div class='popup round arrow-left'>
        <ul class='color-grid' class='clearfix'></ul>
      </div>
    </a>
    <div class='fl details'>
      <input type='text' name='title' placeholder='Marker Name' />
      <textarea name='description' placeholder='Description'></textarea>
      <ul class='actions fr'>
        <li><a href='#' class='icon icon-rubbish small'></a></li>
      </ul>
    </div>
  </script>

  <script data-template='markerCached' type='text/html'>
    <a href='#' class='fl inline marker hover'>
      <span class='icon icon-marker' style='color:<%= hex %>'></span>
      <div class='popup round arrow-left'>
        <ul class='color-grid' class='clearfix'></ul>
      </div>
    </a>
    <div class='fl details'>
      <input type='text' name='title' placeholder='Marker Name' value='<%= title %>' />
      <textarea name='description' placeholder='Description'><%= description %></textarea>
      <ul class='actions fr'>
        <li><a href='#' class='icon icon-rubbish small'></a></li>
      </ul>
    </div>
  </script>

  <script data-template='option' type='text/html'>
    <option value='<%= value %>'><%= name %></option>
  </script>

  <script data-template='login' type='text/html'>
    <a class='login' href='https://github.com/login/oauth/authorize?client_id=<%= client %>&scope=gist'>Login with GitHub</a>
  </script>

  <script data-template='logout' type='text/html'>
    <a class='logout' href='#'>Logout <%= username %></a>
  </script>

  <script data-template='colors' type='text/html'>
    <a href='#' class='swatch' title='<%= hex %>' data-marker='<%= markerId %>' style='background-color:<%= hex %>'></a>
  </script>

  <script src='dist/maplist.js'></script>

  <script>
    // Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15498769-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var GoSquared = {};
    GoSquared.acct = "GSN-336480-K";

    (function(w) {
      function gs() {
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement('script');
        g.type = 'text/javascript';
        g.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
      w.addEventListener('load', gs, false) :
      w.attachEvent('onload', gs);
    })(window);
  </script>
</body>
</html>
