<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>MapList</title>
  <meta name='apple-mobile-web-app-status-bar-style' content='white' />
  <link rel='shortcut icon' href='./img/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='./app.css'>
</head>
<body>
  <div id='map' class='map'>
    <div id='controls' class='controls'>
      <ul class='group round clearfix'>
        <li><a id='findme' class='findme round' href='#'><span class='small icon icon-findme'></span></a></li>
      </ul>
      <ul class='group layers round clearfix'>
        <li><a href='#' data-layer='tristen.map-4s93c8qx'><span class='small icon icon-streets'></span></a></li>
        <li><a href='#' data-layer='tristen.map-ixqro653'><span class='small icon icon-terrain'></span></a></li>
        <li><a href='#' data-layer='tristen.map-sx6sssbx'><span class='small icon icon-satellite'></span></a></li>
      </ul>
    </div>
  </div>

  <div id='maker' class='maker-container pad2'>
    <div class='maker cell4'>
      <a href='#' class='add clearfix pad2'>
        <span class='icon icon-add inline'></span>Add a marker
        <div class='centered overlay'>
          <span class='icon icon-cursor inline'></span>
          Click on the map to select a point.
        </div>
      </a>
      <ul class='markers' id='markers'></ul>
    </div>
  </div>

  <script data-template='introduction' type='text/html'>
    <a href='#' id='permalink' class='permalink'><span class='icon icon-link small'></span></a>
    <input id='title' type='text' name='title' placeholder='List Name' value='<%= title %>' />
    <textarea id='description' name='description' placeholder='Description'><% if (description !== 'Description') { %><%= description %><% } %></textarea>
  </script>

  <script data-template='marker' type='text/html'>
    <a href='#' class='fl inline marker hover'>
      <span class='icon icon-marker' style='color:<%= hex %>'></span>
      <div class='popup round arrow-left'>
        <ul class='color-grid' class='clearfix'></ul>
      </div>
    </a>
    <div class='fl details'>
      <input type='text' name='title' placeholder='Marker Name' />
      <textarea name='description' placeholder='Description'></textarea>
      <ul class='actions fr'>
        <li><a href='#' class='icon icon-rubbish small'></a></li>
      </ul>
    </div>
  </script>

  <script data-template='markerCached' type='text/html'>
    <a href='#' class='fl inline marker hover'>
      <span class='icon icon-marker' style='color:<%= hex %>'></span>
      <div class='popup round arrow-left'>
        <ul class='color-grid' class='clearfix'></ul>
      </div>
    </a>
    <div class='fl details'>
      <input type='text' name='title' placeholder='Marker Name' value='<%= title %>' />
      <textarea name='description' placeholder='Description'><%= description %></textarea>
      <ul class='actions fr'>
        <li><a href='#' class='icon icon-rubbish small'></a></li>
      </ul>
    </div>
  </script>

  <script data-template='option' type='text/html'>
    <option value='<%= value %>'><%= name %></option>
  </script>

  <script data-template='colors' type='text/html'>
    <a href='#' class='swatch' title='<%= hex %>' data-marker='<%= markerId %>' style='background-color:<%= hex %>'></a>
  </script>

  <script src='dist/maplist.js'></script>
</body>
</html>
